*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title{
    margin-left: 3rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    letter-spacing: 10px;
    color: rgb(84, 33, 84);
    font-family: "Cinzel";

}

.capital{
    font-size: 4rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}


#calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    height: 85vh;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #aecdc4;
}

#screen{
    border: 3px solid black;
    width: 75%;
    height: 40vh;
    margin: 2rem;
    padding-top: 2rem;
    background-color: rgb(250, 248, 225);
    color: black;
    border-radius: 10px;
    text-align: right;
    font-size: 2.5rem;
}

#btns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    width: 75%;
    margin: 2rem;
}

.buttons:hover, .clear:hover{
    cursor: pointer;
    box-shadow: 4px 4px 10px yellow;
}

.buttons:focus, .clear:focus{
    border: 7px dotted #F62681;
}

.clear{
    display: grid;
    grid-column: 2/4;
    padding: 20px;
    border-radius: 8px;
    font-weight: bolder;
    background-color: rgb(244, 88, 83);
    box-shadow: 3px 3px 5px grey;
    font-size: 1.5rem;;
    font-family: sans-serif;
}

.buttons{
    padding: 20px;
    border-radius: 8px;
    font-weight: bolder;
    box-shadow: 3px 3px 5px grey;
    background-color: rgb(229, 226, 226);
    font-size: 1.5rem;
    font-family: sans;
}